<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>
<% @categories.each do |category| %>
<ul>
<% if category.parent_id.blank? %>
<li><%= category.name %> <%= link_to "Create Sub Category", subcateogry_path(category.id), :class => "btn btn-primary btn-xs" %> | <%= link_to "Edit", edit_category_path(category), :class => "btn btn-primary btn-xs" %> | <%= link_to "Delete", category_path(category), :method => 'delete', :class => "btn btn-danger btn-xs", data: { confirm: 'Are you sure?' } %>
<%= render partial: 'subcategory', locals: {subcategories: category.subcategories} if category.subcategories.present? %>
</li>
<% end %>
</ul>
<% end %>
<br>
<%= link_to 'New Category', new_category_path %>
